{% extends 'admin/base.html.twig' %}

{% block title %}Profile de {{ coiffeur.firstname | title}} {{ coiffeur.lastname | title}}{% endblock %}

{% block body %}

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow page-header-dark">
    {% include "admin/partials/sidebar.html.twig" %}
    {% include "admin/partials/header.html.twig" %}
    {# {% include "admin/partials/options.html.twig" %}  #}

    <!-- Main Container -->
      <main id="main-container">
        <!-- Hero -->
        <div class="bg-image" style="background-image: url('{{ asset('build/images/photos/photo17@2x.jpg')}}');">
          <div class="bg-black-25">
            <div class="content content-full">
              <div class="py-5 text-center">
                  <img class="img-avatar img-avatar96 img-avatar-thumb" src="{{ asset('build/images/avatars/avatar10.jpg') }}" alt="">
                <h1 class="fw-bold my-2 text-white">{{ coiffeur.firstname | title}} {{ coiffeur.lastname | title}}</h1>
                <h2 class="h4 fw-bold text-white-75">
                  Coiffeur chez <a href="{{ path('admin_salon_show', {id:coiffeur.salon.id}) }}">Elite {{ coiffeur.salon.name|title }}</a> 
                </h2>
                <a href="{{ path('admin_coiffeur_all') }}" class="btn btn-dark m-1">
                  <i class="fa fa-fw fa-undo me-1"></i> Retour
                </a>
                {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin_coiffeur_edit', {id:coiffeur.id}) }}" class="btn btn-primary text-light m-1">
                  <i class="fa fa-fw fa-edit me-1"></i> Modifier la fiche
                </a>
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>
        <!-- END Hero -->
        
        <!-- Page Content -->
        <div class="content content-full content-boxed">

        {# <h2 class="content-heading">
            <i class="si si-calendar me-1"></i> Informations
        </h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="block block-rounded">
                    <p class="text-center py-5"><a href="mailto:{{ manager.email }}"><i class="fas fa-envelope me-2"></i> {{ manager.email }}</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block block-rounded">
                    <p class="text-center py-5"><a href="tel:{{ manager.phone }}"><i class="fas fa-phone-alt me-2"></i> {{ manager.phone }}</a></p>
                </div>
            </div>
        </div> #}
        <!-- Rests -->
          <h2 class="content-heading">
            <i class="si si-calendar me-1"></i> Liste des absences
          </h2>
          <div class="row">
            <div class="block block-rounded">
              <div class="block-content block-content-full">
                <div class="table-responsive">
                  <table id="table" class="table table-vcenter js-dataTable-buttons">
                      <thead>
                          <tr>
                            <th class="d-none d-sm-table-cell text-center" style="width: 100px;">N°</th>
                            <th class="text-center">Raison</i></th>
                            <th class="text-center">Départ</i></th>
                            <th class="text-center">Retour</i></th>
                            <th class="text-center">Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for rest in coiffeur.rests %}
                      <tr>
                          <td class="d-none d-sm-table-cell fw-semibold text-center">
                          {{ rest.id }}
                          </td>
                          <td class="text-center">
                            {{ rest.restReason.name | title }}
                          </td>
                          <td class="text-center">
                            {{ rest.startAt | format_datetime(pattern="EEEE dd MMMM", locale='fr')| capitalize }}
                          </td>
                          <td class="text-center">
                            {{ rest.endAt | format_datetime(pattern="EEEE dd MMMM", locale='fr')| capitalize }}
                          </td>
                          
                          <td class="fw-semibold text-center">
                          {% if is_granted("ROLE_ADMIN") %}
                          <a class="btn btn-light btn-sm" href="{{ path('rest_edit', {id: rest.id}) }}"><i class="fa fa-fw fa-edit me-1"></i></a>
                          {% else %}
                          -
                          {% endif %}
                          </td> 
                      </tr>
                      {% else %}
                      <tr>
                          <td colspan="6" class="text-center">Aucune Abscence</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END Rests -->
          <!-- Events -->
          <h2 class="content-heading">
            <i class="si si-calendar me-1"></i> Liste des rendez-vous
          </h2>
          <div class="row">
            <div class="block block-rounded">
              <div class="block-content block-content-full">
                <div class="table-responsive">
                  <table class="table table-hover table-vcenter {% if is_granted("ROLE_ADMIN") %}js-dataTable-buttons{% else %}js-dataTable-full-pagination{% endif %}">
                    <thead>
                      <tr>
                        <th class="d-none d-sm-table-cell text-center" style="width: 100px;">N°</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for booking in bookingRepository.findByCoiffeur(coiffeur) %}
                      <tr class="table-{{ booking.status }}">
                          
                        <td class="d-none d-sm-table-cell text-center fs-sm">
                          {{booking.id}}
                        </td>
                        <td class="text-center fs-sm">
                          {{booking.beginAt | format_datetime(pattern="EEEE dd MMMM à H'h'mm", locale='fr')| capitalize}}
                        </td>
                        <td class="text-center fs-sm">
                          {{ booking.bookerFullname | title }}
                        </td>
                        
                        <td class="text-center fs-sm">
                          <a class="btn btn-sm btn-light" href="{{ path('admin_booking_show', {id: booking.id}) }}"><i class="fa fa-fw fa-eye me-1"></i></a>
                        </td>
                      </tr>
                      {% else %}
                      <tr>
                          <td colspan="6" class="text-center">Aucun rendez-vous prévu</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END Events -->


          <!-- END Latest Friends -->

        </div>
        <!-- END Page Content -->       
      </main>
      <!-- END Main Container -->
     {{ include('admin/partials/footer.html.twig') }}
    </div>
{% endblock %}
{% block javascript %}
  {{ parent() }}  
  {{ encore_entry_script_tags('datatable') }}
{% endblock %}
