
{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle absence{% endblock %}

{% block body %}
<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow page-header-dark">
    {% include "admin/partials/sidebar.html.twig" %}
    {% include "admin/partials/header.html.twig" %}
    {# {% include "admin/partials/options.html.twig" %}  #}

      <!-- Main Container -->
      <main id="main-container">

        <!-- Hero -->
        <div class="bg-image" style="background-image: url('{{ asset('build/images/photos/photo13@2x.jpg') }}');">
          <div class="bg-black-50">
            <div class="content content-full">
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="fs-2 text-white my-2">
                  <i class="fa fa-plus text-white-50 me-1"></i> Ajouter une absence
                </h1>
                <div>
                  <a class="btn btn-primary my-2 text-light" href="{{ path('rest_index') }}">
                      <i class="fa fa-fw fa-list"></i>
                      <span class="d-none d-sm-inline ms-1">Liste</span>
                  </a>
                  <a class="btn btn-primary my-2 text-light" href="{{ app.request.headers.get('referer') }}">
                    <i class="fa fa-fw fa-undo"></i>
                    <spane class="d-none d-sm-inline ms-1">Retour</spane>
                  </a>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
          <div class="block block-rounded block-bordered">
            <div class="block-content">
              {{ form_start(form, {attr: {'novalidate': 'novalidate'} }) }}
                <!-- Vital Info -->
                <h2 class="content-heading pt-0">Information sur l'absence</h2>
                <div class="row push">
                  <div class="col-lg-4">
                    <p class="text-muted">
                      Sélectionnez le salarié concerné
                    </p>
                    {{form_errors(form.coiffeur)}}
                  </div>
                  
                  <div class="col-lg-8 col-xl-5">
                    <div class="mb-4">
                      {{form_widget(form.coiffeur)}}
                    </div>
                  </div>
                </div>
                <div class="row push">
                  <div class="col-lg-4">
                    <p class="text-muted">
                      Choisissez la raison de son absence
                    </p>
                    {{form_errors(form.restReason)}}
                  </div>
                  <div class="col-lg-8 col-xl-5">
                    <div class="mb-4">
                      {{form_widget(form.restReason)}}
                    </div>
                  </div>
                </div>

                <div class="row push">
                  <div class="col-lg-4">
                    <p class="text-muted">
                      Sélectionnez les dates de début et de fin de congé
                    </p>
                    {{form_errors(form.startAt)}}
                    {{form_errors(form.endAt)}}
                  </div>
                  
                  <div class="col-lg-8 col-xl-5">
                    <div class="mb-4">
                      {{form_widget(form.startAt)}}
                    </div>
                    <div class="mb-4">
                      {{form_widget(form.endAt)}}
                    </div>
                  </div>
                </div>
                <!-- END Vital Info -->

                <!-- Submit -->
                <div class="row push">
                  <div class="col-lg-8 col-xl-5 offset-lg-4">
                    <div class="mb-4">
                      <button type="submit" class="btn btn-primary text-light">
                        <i class="fa fa-check-circle me-1"></i> Enregistrer
                      </button>
                      <a href="{{ path('rest_index') }}" class="btn btn-light rounded m-1">Annuler</a>
                    </div>
                  </div>
                </div>
                <!-- END Submit -->
              {{ form_end(form) }}
            </div>
          </div>
        </div>
        <!-- END Page Content -->

      </main>
      <!-- END Main Container -->
    {% include "admin/partials/footer.html.twig" %}
    </div>
    <!-- END Page Container -->
{% endblock %}
{% block javascript %}
{{ parent() }}
    <script type="text/javascript">

      flatpickr("#rest_startAt, #rest_endAt", {
        disableMobile: true,
        altInput: true,
        altFormat: "j F Y",
        dateFormat: "Y-m-d",
        locale: "fr",
        minDate: "today",
        disable: [
          function(date) {
              // return true to disable
              return (date.getDay() === 0) ;
            }
        ],
        
      });

    </script>
{% endblock %}
