{% extends "admin/base.html.twig" %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow page-header-dark">
    {% include "admin/partials/sidebar.html.twig" %}
    {% include "admin/partials/header.html.twig" %}
    {# {% include "admin/partials/options.html.twig" %} #}

      <!-- Main Container -->
      <main id="main-container">

        <!-- Hero -->
        <div class="bg-image" style="background-image: url('{{ asset('build/images/photos/photo13@2x.jpg') }}');">
          <div class="bg-black-50">
            <div class="content content-full">
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="flex-grow-1 fs-2 text-white my-2">
                  <i class="fas fa-users text-white-50 me-1"></i> Les Clients
                </h1>
                <a class="btn btn-primary my-2 text-light" href="{{ path('admin_customer_new') }}">
                  <i class="fa fa-fw fa-plus"></i>
                  <span class="d-none d-sm-inline ms-1">Ajouter</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
          <div class="row">
            <div class="col-md">
              <!-- Customers -->
              <div class="block block-rounded">
                <div class="block-header block-header-default">
                  <h3 class="block-title text-center">Liste des clients</h3>
                   {# <div class="block-options">
                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                      <i class="si si-refresh"></i>
                    </button> 
                  </div>#}
                </div>
                <div class="block-content block-content-full">
                    <div class="table-responsive">
                        <table class="table fs-sm {% if is_granted("ROLE_ADMIN") %}js-dataTable-buttons{% else %}js-dataTable-full-pagination{% endif %}">
                            <thead>
                                <tr>
                                  <th class="d-none d-sm-table-cell text-center" style="width: 100px;">#</th>
                                  <th class="text-center"><i class="far fa-user"></i></th>
                                  {% if is_granted("ROLE_ADMIN") %}
                                  <th class="text-center d-none d-sm-table-cell"><i class="far fa-envelope"></th>
                                  <th class="text-center d-none d-sm-table-cell"><i class="fas fa-phone-alt"></i></th>
                                  {% endif %}
                                  <th class="text-center">Statut</th>
                                  <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for customer in userRepository.findCustomers %}
                                <tr>
                                  <td class="d-none d-sm-table-cell fw-semibold text-center" style="width: 100px;">
                                  #{{ customer.id }}
                                  </td>
                                  <td class="fw-semibold text-center">
                                  {{ customer.firstname | capitalize}} {{ customer.lastname | upper}}
                                  </td>
                                  {% if is_granted("ROLE_ADMIN") %}  
                                    <td class="d-none d-sm-table-cell text-center">
                                    {{ customer.email }}
                                    </td>
                                    <td class="d-none d-sm-table-cell fw-semibold text-center">
                                    {{ customer.phone }}
                                    </td>
                                  {% endif %}
                                  <td class="fw-semibold text-center">
                                  {% if customer.isVerified %}<span class="badge rounded-pills bg-success mb-3">Activé</span>
                                  {% else %}<span class="badge rounded-pills bg-warning mb-3">En attente</span>
                                  {% endif %}
                                  </td>
                                  <td class="fw-semibold text-center">
                                    <a class="btn btn-sm btn-light" href="{{ path('admin_customer_show', {id:customer.id}) }}"><i class="far fa-eye me-1"></i></a>
                                  </td>
                                </tr>
                                {% else %}
                                <tr>
                                <td colspan="6" class="text-center">Aucun client n'est encore inscrit</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
              <!-- END Latest Orders -->
            </div>
          </div>
          <!-- END Top Products and Latest Orders -->
        </div>
        <!-- END Page Content -->
      </main>      
      <!-- END Main Container -->
{% include "admin/partials/footer.html.twig" %}
</div>
{% endblock %}
{% block javascript %}
  {{ parent() }}  
  {{ encore_entry_script_tags('datatable') }}
{% endblock %}
