{% extends 'admin/base.html.twig' %}

{% block title %}Profil de {{ customer.firstname | title}} {{ customer.lastname | title}}{% endblock %}

{% block body %}

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow page-header-dark">
    {% include "admin/partials/sidebar.html.twig" %}
    {% include "admin/partials/header.html.twig" %}
    {# {% include "admin/partials/options.html.twig" %}  #}

    <!-- Main Container -->
      <main id="main-container">
        <!-- Hero -->
        <div class="bg-image" style="background-image: url('{{ asset('build/images/photos/photo17@2x.jpg')}}');">
          <div class="bg-black-50">
            <div class="content content-full">
              <div class="py-5 text-center">
                  <img class="img-avatar img-avatar96 img-avatar-thumb" src="{{ asset('build/images/avatars/avatar10.jpg') }}" alt="">
                <h1 class="fw-bold my-2 text-white">{{ customer.firstname | title}} {{ customer.lastname | title}}</h1>
                <h2 class="h4 fw-bold text-white-75">
                  Inscrit le {{ customer.createdAt | format_datetime(pattern="dd MMMM YYYY")}} 
                </h2>
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-dark m-1">
                  <i class="fa fa-fw fa-undo me-1"></i> Retour
                </a>
                {% if is_granted("ROLE_ADMIN") %}  
                <a href="{{ path('admin_customer_edit', {id:customer.id}) }}" class="btn btn-primary m-1 text-light">
                  <i class="fa fa-fw fa-pen me-1"></i> Modifier la fiche
                </a>
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>
        <!-- END Hero -->
        <!-- Page Content -->
        <div class="content content-full content-boxed">
        {% if is_granted("ROLE_ADMIN") %}  
        <h2 class="content-heading">
            <i class="si si-calendar me-1"></i> Informations
        </h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="block block-rounded">
                    <p class="text-center py-5"><a href="mailto:{{ customer.email }}"><i class="fas fa-envelope me-2"></i> {{ customer.email }}</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block block-rounded">
                    <p class="text-center py-5"><a href="tel:{{ customer.phone }}"><i class="fas fa-phone-alt me-2"></i> {{ customer.phone }}</a></p>
                </div>
            </div>
        </div>
        {% endif %}
          <!-- Events -->
          <h2 class="content-heading">
            <i class="si si-calendar me-1"></i> Liste de rendez-vous
          </h2>
          <div class="row">
          <div class="block block-rounded">
            <div class="block-content">
              <div class="table-responsive">
                <table class="table table-hover table-vcenter {% if is_granted("ROLE_ADMIN") %}js-dataTable-buttons{% else %}js-dataTable-full-pagination{% endif %}">
                  <thead>
                    <tr>
                      <th class="d-none d-sm-table-cell text-center" style="width: 100px;">N°</th>
                      <th class="text-center">Date</th>
                      <th class="text-center">Salon</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in bookingRepository.findByCustomer(customer) %}
                    <tr class="table-{{ booking.status }}">
                        
                      <td class="d-none d-sm-table-cell text-center fs-sm">
                        {{booking.id}}
                      </td>
                      <td class="text-center fs-sm">
                        {{booking.beginAt | format_datetime(pattern="EEEE dd MMMM à H'h'mm", locale='fr')| capitalize}}
                      </td>
                      <td class="text-center fs-sm">
                        {{ booking.salon | title}}
                      </td>
                      
                      <td class="text-center fs-sm">
                        <a class="btn btn-sm btn-light" href="{{ path('admin_booking_show', {id: booking.id}) }}"><i class="fa fa-fw fa-eye me-1"></i></a>
                      </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Aucun rendez-vous prévu</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- END Events -->
          </div>

          <!-- END Latest Friends -->

        </div>
        <!-- END Page Content -->
      </main>
      <!-- END Main Container -->
     {{ include('admin/partials/footer.html.twig') }}
    </div>
{% endblock %}
{% block javascript %}
  {{ parent() }}  
  {{ encore_entry_script_tags('datatable') }}
{% endblock %}
